/* Navs */
.a-nav{
  list-style-type: none;
  margin:0px;
  padding:0px;
  position: relative;

  &.a-nav--section{
    border-bottom:solid 1px #0062B4;

    &>li{
      font-size: $mdFont;
      display:inline-block;
      list-style-type: none;
      margin:0px;
      padding:0px;
      margin-right: 30px;

      &>a:link:not(.a-btn--border){
        color:#FFF;
        opacity: 0.6;
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;

        &:hover{
          opacity: 1;
        }
      }

      &.right{
        margin-top: 15px;
      }

      ul{
        position: absolute;
        background-color: rgba(255,255,255,.9);
        @include border_radius(10px);
        padding: 10px 20px;
        left: 0px;
        right: 0px;
        top: 100%;
        display:none;

        li{
          font-size: $smFont;

          a:link{
            opacity: 1;
            color:#005FAB;

            &:hover{
              opacity: 0.6;
            }
          }
        }
      }

      &:hover{
        ul{
          display:block;
        }
      }
    }
  }
}
/* End : Navs */


/* Buttons */
.a-btn{
  &.a-btn--border{
    border-style:solid;
    border-width:2px;

    &.a-btn_white{
      border-color:#FFF;
      color:#FFF;
    }
  }
  &.a-btn--pill{
    @include border-radius(50px);
  }

  &.a-btn_md{
    padding: 5px 15px;
    font-size: 14px;
  }
  &.a-btn_strong{
    text-transform: uppercase;
    font-weight: 600;
  }
}

/* Layout Utilities */
.a-section_intro,
.a-section_main{
  h2{
    font-size: 44px;
    font-weight:300;
  }
  h4{
    font-size:22px;
    font-weight:300;
  }
}

.a-padding_30{
  padding:30px;
}
.a-padding--top_0{
  padding-top:0px;
}
.a-padding--bottom_lg{
  padding-bottom:90px;
}
.a-padding--0{
  padding:0px !important;
}

.a-margin--bottom_0{
  margin-bottom:0px;
}
.a-margin--top_md{
  margin-top:30px;
}

.a-move--moveup_md{
  transform: translateY(-65px);
}

ul.a-list_twocolumns{
  li{
    width:50%;
    display:inline-block !important;
  }
}
/* End : Layout Utilities */



.a-card{
  @include card_styled(#FFFFFF);
  width: 100%;
  padding: 15px 10px;
}

.a-ns-logo{
  font-size: 15px;
  font-weight: 900;
  display: table-cell;
  vertical-align:middle;
}

.referidos-logo{
  width:160px;
}


.bottom-buttons-container{
  margin-bottom: 25px;

  &.center{
    &>div{
      display:inline-block;
    }
  }

  &.stacked{
    float:left;
    width:100%;
    margin-top: 10px;

    button, a{
      display:block;
      width:100%;
      margin-top: 5px;
    }
  }

  .pill{
    border-radius: 100px !important;
    overflow: hidden;

    button{
      span{
        text-transform:none;
      }
    }
  }

  .large{
    button{
      height:auto !important;

      div{
        div{
          height:auto !important;
          padding: 10px 20px !important;

          span{
            font-size:22px !important;
            font-weight: 600 !important;
            text-transform: none !important;
          }
        }
      }
    }
  }

  .submit button{
    background-color: $flatGreen !important;

    &:hover{
      background-color: darken($flatGreen, 7%) !important;
    }
  }
}


body, main, footer{
  background-color: #EEF6FE;
}

form .a-card label {
   color: #666 !important;
}
