@mixin card_styled($color){
  @include border_radius(3px);
  @include box_shadow(1);
  background-color:$color;
}

//Shadows
@mixin box_shadow ($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

//Sizes
@mixin sm-only {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

//Animations

@mixin transitionAll(){
  transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}
@mixin transitionSlow(){
  transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}
@mixin transitionAllCustomTime($time){
  transition: all $time cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

//Fonts
@mixin fontAwesomeStyles($code){
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $code;
}

//Icons
@mixin forceMaterialIconStyles(){
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap !important;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

//Borders
@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}